.Navb{
    padding-bottom:120px;
}

.left {
    float:left;
    width:20%;
    
}

.left h1{
    color: blue; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2.5rem;
    text-shadow: 
  
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick, 
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -10px -20px 30px firebrick; 
    text-align: center;
}
  
.main {
    float:left;
    width:40%;
}

ul, li {
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
    color: rgba(0, 0, 0, 0.488);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}   

li:hover{
    color: rgb(11, 10, 10);
    border-bottom:2px dotted red;
    transition: transform .55s ease-out;
    transform: scale(1.12);
    cursor: pointer;
}

select{
    border:none;
}
  

@media screen and (max-width:800px) {
    .left{
        background:linear-gradient(to right, rgba(246, 0, 0, 0.968),
        rgb(9, 9, 253));
      width:100%;
    }

    .left h1{
        color: white;
        font-size: 4rem;
    }

    .main{
        display: flex;
    }

    .bdy p{
        width: 100%;
    }
}
